   {% load static %}
{% load templatetags %}
{% tags as tag %}
{% categories as cat %}

            <div class="col-md-12 col-lg-4 sidebar">
                <div class="sidebar-box search-form-wrap">
                    <form action="#" class="search-form">
                        <div class="form-group">
                            <span class="icon fa fa-search"></span>
                            <input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">
                        </div>
                    </form>
                </div>
                <!-- END sidebar-box -->
                <div class="sidebar-box">
                    <div class="bio text-center">
                        <img src="{% static 'images/person_1.jpg' %}" alt="Image Placeholder" class="img-fluid">
                        <div class="bio-body">
                            <h2>Meagan Smith</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem facilis sunt
                                repellendus excepturi beatae porro debitis voluptate nulla quo veniam fuga sit molestias
                                minus.</p>
                            <p><a href="#" class="btn btn-primary btn-sm">Read my bio</a></p>
                            <p class="social">
                                <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                                <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                                <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
                                <a href="#" class="p-2"><span class="fa fa-youtube-play"></span></a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- END sidebar-box -->
                <div class="sidebar-box">
                    <h3 class="heading">Popular Posts</h3>
                    <div class="post-entry-sidebar">
                        <ul>
                            {% for post in sidebar %}
                            <li>
                                <a href="/blog-single/{{ post.id }}/">
                                    <img src="{{ post.main_image.url }}" alt="Image placeholder" class="mr-4">
                                    <div class="text">
                                        <h4>{{ post.title }}</h4>
                                        <div class="post-meta">
                                            <span class="mr-2">{{ post.created_at }}</span> &bullet;
                                    <span class="ml-2"><span class="fa fa-comments"></span>{{ post.comment_count }}</span>
                                            <span class="ml-2"><span class="fa fa-eye"></span> {{ post.views_count }}</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- END sidebar-box -->

                <div class="sidebar-box">
                    <h3 class="heading">Categories</h3>
                    <ul class="categories">
                        {% for cats in cat %}
                        <li><a href="/category/{{ cats.name }}"> {{ cats.name }} <span>({{ cats.posts_count }})</span></a></li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- END sidebar-box -->

                <div class="sidebar-box">
                    <h3 class="heading">Tags</h3>
                    <ul class="tags">
                        {% for tags in tag %}
                        <li><a href="/tags/{{ tags.name }}">{{ tags.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
