        <div class="row">
            {% for post in uchtalik %}
            <div class="col-md-6 col-lg-4">
                <a href="blog-single/{{post.id}}/" class="a-block d-flex align-items-center height-md"
                   style="background-image: url({{ post.main_image.url }}); ">
                    <div class="text">
                        <div class="post-meta">
                            <span class="category">{{ post.category.name }}</span>
                            <span class="mr-2">{{ post.created_at }}</span> &bullet;
                                    <span class="ml-2"><span class="fa fa-comments"></span>{{ post.comment_count }}</span>
                            <span class="ml-2"><span class="fa fa-eye"></span> {{ post.views_count }}</span>

                        </div>
                        <h3>{{ post.title }}</h3>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
